<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}} | UppuKhara</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.png"}}">

    {{! Styles'n'Scripts }}
    <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myModal').appendTo("body").modal('show');
            $("#myModal").css("z-index", "1500");
        });
    </script>

    <script>jQuery.noConflict();</script>
    <script type="text/javascript" src="{{asset "js/jquery.validate.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.form.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="container">
      {{> "header"}}
      {{{body}}}
    </div>

    {{> "footer"}}

    {{> "subscribeModal" }}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JavaScript files }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/application.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/moment.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.easing.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/pinit.js"}}"data-pin-hover="true"></script>
</body>
</html>
